[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.19"
future = "*"

[dev-packages]
codecov = "~=2.0"
pytest = "~=3.6"
pytest-cov = "~=2.5"
responses = "~=0.9"
flit = "~=1.0"

[requires]
python_version = "3.7"
